:root {
  --yellow: #f7f500;
  --blue: rgb(97, 228, 250);
  --red: rgba(211, 87, 91, 0.81);
  --red-glow: rgba(211, 87, 91, 0.91);
  --yellow-color: #f9f002;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #0c5f74;
  --green-color: #298d29;
  --purple-color: purple;
  --neon-color: #39ff14;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Advent Pro';
  color: var(--blue);
  text-decoration: none;
}

body {
  padding: 0.5rem;
  /* background-color: black; */
  background-image: url('/CP-pics/background_clean.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.cpHeader {
  align-items: center;
  background-color: var(--blue-color);
  background-image: url('/CP-pics/cpHeader.svg');
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  height: 40px;
  justify-content: center;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  position: sticky;
  text-align: center;
  text-shadow: 4px 5px 4px var(--purple-color);
  text-transform: uppercase;
  width: 100%;
  word-break: keep-all;
}

// Menu Designs
.menu {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 5%;
  width: 280px;
  align-items: left;
  border: var(--yellow) 2px solid;
}

.menu h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  font-family: Cyberpunk;
  text-shadow: 5px 5px 5px var(--purple-color);
}

.menu ul {
  list-style-type: none;
  padding: 0px 25px;
}

.menu ul li {
  text-transform: uppercase;
  cursor: pointer;
  /* layout */
  position: relative;
  padding: 10px;
  margin: 15px 0px;
  overflow: hidden;
  width: 200px;
  height: 100px;
  clip-path: polygon(350px 0px, 350px 29px, 250px 57px, 0px 57px, 0px 0px);
  /* font */
  color: var(--yellow);
  font-size: 26px;
  text-shadow: 0px 0px 3px var(--red-glow);
  /* Border */
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.menu ul a {
  text-decoration: none;
  color: var(--yellow);
}

.menu ul li::after {
  /* Layout */
  content: '';
  position: absolute;
  bottom: -17px;
  right: -17px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);

  /* Border */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.menu ul li:hover::after,
.menu ul li:hover {
  color: var(--blue);
  background: var(--black-hover-background);

  border-color: var(--blue);

  transition: color 0.23s linear;
  transition: border-color 0.23s linear;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 40%;
}

.hpMain {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 40%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 40%;
}
// CP Buttons

:root {
  --glitched-duration: 0.9s;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f002;
}

button.cyberpunk2077,
a.cyberpunk2077 {
  --background-color: #ff003c;
  --glitched-duration: 0.9s;
  display: block;
  border: none;
  border-radius: 0%;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Advent Pro', arial;
  padding: 25px 65px;
  margin: 10px;
  position: relative;
  color: #fff;
  border-right: 3px solid #8ae66e;
  clip-path: polygon(
    -15px 0%,
    calc(100% + 15px) 0%,
    calc(100% + 15px) 100%,
    20px 100%,
    -15px calc(100% - 35px)
  );
  cursor: pointer;
  background-color: var(--background-color);
  outline: none;
}

button.cyberpunk2077:hover,
a.cyberpunk2077:hover,
button.cyberpunk2077:focus,
a.cyberpunk2077:focus {
  animation-name: hover;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button.cyberpunk2077.green,
a.cyberpunk2077.green {
  --background-color: #446d44;
}

button.cyberpunk2077.purple,
a.cyberpunk2077.purple {
  --background-color: purple;
}

button.cyberpunk2077.blue,
a.cyberpunk2077.blue {
  --background-color: #136377;
}

button.cyberpunk2077:after,
a.cyberpunk2077:after {
  content: 'R-25';
  display: block;
  position: absolute;
  bottom: 0px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 9px;
  color: #000;
  background-color: #f9f002;
  border-left: 2px solid #8ae66e;
}

button.cyberpunk2077:hover:after,
a.cyberpunk2077:hover:after,
button.cyberpunk2077:focus:after,
a.cyberpunk2077:focus:after {
  animation-name: hoverafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button.cyberpunk2077:before,
a.cyberpunk2077:before {
  --outside: 4px;
  content: '';
  position: absolute;
  display: none;
  background-color: var(--background-color);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0px;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid #8ae66e;
  border-right: 2px solid #8ae66e;
}

button.cyberpunk2077:hover:before,
a.cyberpunk2077:hover:before,
button.cyberpunk2077:focus:before,
a.cyberpunk2077:focus:before {
  display: block;
  animation-name: hoverbefore;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hover {
  0% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  61% {
    transform: skew(10deg);
  }
  70% {
    transform: skew(10deg);
  }
  71% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes hoverbefore {
  0% {
    display: none;
    top: 0px;
  }
  10% {
    display: none;
    top: 0px;
  }
  11% {
    display: block;
    top: 10px;
    left: calc(0px - 0px - var(--outside));
  }
  29% {
    top: 10px;
  }
  30% {
    display: none;
    top: 0px;
  }
  50% {
    display: none;
    top: 0px;
  }
  51% {
    display: block;
    top: 55px;
    filter: blur(1px);
    height: 22px;
  }
  90% {
    display: block;
    top: 55px;
    height: 22px;
  }
  91% {
    filter: blur(0px);
    display: none;
    top: 0px;
    height: 12px;
  }
  100% {
    display: none;
    top: 0px;
  }
}

@keyframes hoverafter {
  0% {
    right: 45px;
  }

  10% {
    right: 45px;
  }
  11% {
    right: 35px;
  }
  20% {
    transform: skew(0deg);
  }
  21% {
    transform: skew(-10deg);
  }
  40% {
    transform: skew(-10deg);
  }
  41% {
    transform: skew(0deg);
  }
  49% {
    right: 35px;
  }
  50% {
    right: 55px;
  }

  60% {
    right: 55px;
  }
  61% {
    right: 35px;
  }
  70% {
    transform: skew(0deg);
  }
  71% {
    transform: skew(10deg);
  }
  80% {
    transform: skew(10deg);
  }
  81% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}

// DP Symbol

.deadpool {
  --width: 3vw;
  width: var(--width);
  height: var(--width);
  position: relative;
  display: inline-block;

  --color1: var(--red-color);
  --color2: var(--blue);
  --colorbg: #000;
  --barwidth: calc(var(--width) * 0.09);
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    var(--colorbg) 0%,
    var(--colorbg) calc(50% - (var(--barwidth) / 2) - 1px),
    var(--color1) calc(50% - (var(--barwidth) / 2)),
    var(--color1) calc(50% + (var(--barwidth) / 2)),
    var(--colorbg) calc(50% + (var(--barwidth) / 2) + 1px),
    var(--colorbg) 100%
  );
  border: var(--barwidth) solid var(--color1);
  box-sizing: border-box;
  overflow: hidden;
}

.deadpool::after,
.deadpool::before {
  --width2: calc(var(--width) * 0.3);
  --height2: calc((var(--width2) / 3) * 1.5);
  content: '';
  position: absolute;
  top: calc(55% - (var(--height2) / 2));
  left: calc(20% - (var(--width2) / 2));
  width: var(--width2);
  height: var(--height2);
  background: var(--color2);
  border-bottom-left-radius: calc(var(--width2) - (var(--width2) / 10));
  border-bottom-right-radius: calc((var(--width2) / 3) + (var(--width2) / 10));
  transform: rotate(22deg);
}
.deadpool::before {
  left: calc(80% - (var(--width2) / 2));
  border-bottom-left-radius: calc((var(--width2) / 3) + (var(--width2) / 10));
  border-bottom-right-radius: calc(var(--width2) - (var(--width2) / 10));
  border-top-right-radius: 0;
  transform: rotate(-22deg);
  transition: height 0.3s, top 0.3s;
}
.deadpool:hover::before {
  height: 1px;
  top: calc(55% - (var(--height2) / 2));
}
